$DEFAULT_GRID_GUTTER: 2%;
$DEFAULT_GRID_NUMBER: 12;

$FONT_PATH: './../assets/fonts/_font-face.scss';
$FONT_LOTUS_REGULAR: 'lotus-regular';
$FONT_LOTUS_BOLD: 'lotus-bold';
$FONT_VAZIR_THIN: 'vazir-thin';
$FONT_VAZIR_LIGHT: 'vazir-light';
$FONT_VAZIR_REGULAR: 'vazir-regular';
$FONT_VAZIR_MEDIUM: 'vazir-medium';
$FONT_VAZIR_BOLD: 'vazir-bold';
$FONT_VAZIR_BLACK: 'vazir-black';

// ------------------------
$rose: #f7746e;
$gold: #e6c356;

$dark: #2a363b;
$light: #f4f4f8;
$gray: #4a4e4d;
$light-gray: #949a98;
$secondary: #e6e6ea;

// $primary: #005b96;
$primary: $rose;
$info: #63ace5;
$sky: #b3cde0;
$dark-success: #0e9aa7;
$success: #3da4ab;
$light-success: #88d8b0;
$lighten-success: #96ceb4;
$golden: #f6cd61;
$dark-gold: #ffcc5c;
$light-gold: #ffeead;
$pink: #f6abb6;

$darken-rose: #ff6f69;
// ------------------------
// @from https://github.com/miko-github/SCSS/blob/main/Modules/variables/_colors.scss

$orange: #fe8a71;
